page-login {

	.login-content
	{
		background-color:rgba(0, 0, 0,1);
		.auth-form {
			width: 50%;
			margin: 0px auto;
		}
		.logoImage{
			padding: 40px;
		}
		.pondHoppersLogoImage {
			padding: 40px;
    width: 40%;
    margin: 100px auto;
		}
		.thefields {
			margin-top:20px;
		}
			.login-button {
				background-color: transparent;
				border: 1px solid white;
				font-weight: bolder;
				font-size: 140%;
				width: 50%;
				margin: 20px auto;
			}
			.login-button:hover {
				background-color: white;
				color:black;
				border: 1px solid black;
			}
			.login-md.activated {
				background-color: white;
				color:black;
				border: 1px solid black;
			}
			.login-md:hover:not(.dsable-hover) {
				background-color: white;
				color:black;
				border: 1px solid black;
			}
		.alt-options
		{
			.button
			{
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}
		}
	}
}
