
<ion-content class="login-content auth-content">
    
  <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
    <div class="logoImage">
        <img src="./assets/imgs/Trident_dark1.png" />
    </div>
    <div class="thefields">
    <ion-item>
      <ion-input type="email" class="white-text-input" placeholder="Email" formControlName="usersEmail" required email></ion-input>
    </ion-item>
  </div>
  <div class="thefields">
    <ion-item>
      <ion-input type="password" class="white-text-input" placeholder="Password" formControlName="usersPassword"></ion-input>
    </ion-item>
  </div>
    <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid">Log in</button>
  </form>
  <div class="pondHoppersLogoImage">
      <img src="./assets/imgs/Pondhoppers_Dark.png" />
  </div>
</ion-content>
