<ion-header *ngIf="typeOfPage == 'CATEGORY' || typeOfPage == 'PRODUCTS' " class="category-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()"><img src="./assets/imgs/button_back.png" /></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="goMain()"><img src="./assets/imgs/button_home.png" /></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="category-content" id="category-content-{{pageId}}">  
  <ion-scroll scrollY>
    <div [class]="typeOfPage == 'MAIN CATEGORY' ? 'header-div header-div-level-0' : 'header-div header-div-level-1'">
      <img [src]="isDataFromServer ? headerImage : headerImageData" *ngIf="headerImage || headerImageData" />
    </div>
    
    <div class="content-body" *ngIf="typeOfPage == 'CATEGORY' || typeOfPage == 'MAIN CATEGORY' ">
      <ion-row *ngFor="let items of categories" [class]="typeOfPage == 'MAIN CATEGORY' ? 'level0-row level-row row' : typeOfPage == 'CATEGORY' ? 'level1-row level-row row' : 'level2-row level-row row'">
        <ion-col *ngFor="let item of items" (click)="goToCategoryPage(item.pageLink)" [class]="typeOfPage == 'PRODUCTS' ? 'level2-category-col col' : 'level0-category-col col'" text-center>
          <div  class="categoryHeadings">
            <!-- <img [src]="isDataFromServer ? item.categoryImage : item.categoryImageData" class="category-image" /> -->
            <div class="catHead">
              {{ item.categoryName }}
            </div>
          </div>
        
        </ion-col>
      </ion-row>
    </div>

    <!-- standard product display -->
      <div class="content-body" *ngIf="typeOfPage == 'PRODUCTS' && displayStyle == 'STANDARD'">
      <ion-row *ngFor="let items of categories" class="level2-row level-row row">
        <ion-col *ngFor="let item of items" (click)="goToCategoryPage(item.pageLink)" class="level2-category-col col" text-center>
         
          <div class="item-content">
              <div class="productImage">
                  <img [src]="isDataFromServer ? item.categoryImage : item.categoryImageData" class="category-image prodimage" />
                </div>
            <h2 class="item-content-title">{{ item.productHeading }}</h2>
            <ion-row class="item-content-price-row">
              <ion-col class="item-content-price">
                <p>{{ item.productPrice1Heading }}</p>
                <p>{{ item.productPrice1 }}</p>
              </ion-col>
              <ion-col class="item-content-price">
                <p>{{ item.productPrice2Heading }}</p>
                <p>{{ item.productPrice2 }}</p>
              </ion-col>
              <ion-col class="item-content-info">
                <button ion-button icon-only (click)="openModal(item)" class="moreinfo"><img src="./assets/imgs/ibutton1.png" /></button>
              </ion-col>
            </ion-row>
            
          </div>
        </ion-col>
      </ion-row>
    </div>

<!-- beer on tap display -->

<div class="content-body" *ngIf="typeOfPage == 'PRODUCTS' && displayStyle == 'BEERTAP'">
    <ion-row *ngFor="let items of categories" class="level2-row level-row row">
      <ion-col *ngFor="let item of items" (click)="goToCategoryPage(item.pageLink)" class="level2-category-col col" text-center>
       
        <div class="item-content-singleLine">
          <div class="productImage">
          <img [src]="isDataFromServer ? item.categoryImage : item.categoryImageData" class="category-image prodimage" />
        </div>
        <!-- <div class="productDetail"> -->
          <h2 class="item-content-title">{{ item.productHeading }}</h2>
          <div class="infobut">
              <button ion-button icon-only (click)="openModal(item)" class="moreinfo"><img src="./assets/imgs/ibutton1.png" /></button>
            </div>
          <ion-row class="item-content-price-row">
            <ion-col class="item-content-price">
              <p class="heading">{{ item.productPrice1Heading }}</p>
              <p>{{ item.productPrice1 }}</p>
            </ion-col>
            <ion-col class="item-content-price">
              <p class="heading">{{ item.productPrice2Heading }}</p>
              <p>{{ item.productPrice2 }}</p>
            </ion-col>
            <ion-col class="item-content-price">
              <p class="heading">{{ item.productPrice3Heading }}</p>
              <p>{{ item.productPrice3 }}</p>
            </ion-col>
            <ion-col class="item-content-price">
              <p class="heading">{{ item.productPrice4Heading }}</p>
              <p>{{ item.productPrice4 }}</p>
            </ion-col>
            <ion-col class="item-content-price">
              <p class="heading">{{ item.productPrice5Heading }}</p>
              <p>{{ item.productPrice5 }}</p>
            </ion-col>
            <ion-col class="item-content-price">
              <p class="heading">{{ item.productPrice6Heading }}</p>
              <p>{{ item.productPrice6 }}</p>
            </ion-col>
            <ion-col class="item-content-price">
              <p class="heading">{{ item.productPrice7Heading }}</p>
              <p>{{ item.productPrice7 }}</p>
            </ion-col>
            <ion-col class="item-content-price">
              <p class="heading">{{ item.productPrice8Heading }}</p>
              <p>{{ item.productPrice8 }}</p>
            </ion-col>
            
            
            
            
          </ion-row>
        <!-- </div> -->
        </div>
      </ion-col>
    </ion-row>
  </div>


  <!-- WINE display -->

  <div class="content-body" *ngIf="typeOfPage == 'PRODUCTS' && displayStyle == 'WINE'">
      <ion-row *ngFor="let items of categories" class="level2-row level-row row">
        <ion-col *ngFor="let item of items" (click)="goToCategoryPage(item.pageLink)" class="level2-category-col col" text-center>
         
          <div class="item-content-singleLineHalf">
            <div class="productImage">
            <img [src]="isDataFromServer ? item.categoryImage : item.categoryImageData" class="category-image prodimage" />
          </div>
          <!-- <div class="productDetail"> -->
            <h2 class="item-content-title">{{ item.productHeading }}</h2>
            <div class="infobut">
                <button ion-button icon-only (click)="openModal(item)" class="moreinfo"><img src="./assets/imgs/ibutton1.png" /></button>
              </div>
            <ion-row class="item-content-price-row">
              <ion-col class="item-content-price">
                <p class="heading">{{ item.productPrice1Heading }}</p>
                <p>{{ item.productPrice1 }}</p>
              </ion-col>
              <ion-col class="item-content-price">
                <p class="heading">{{ item.productPrice2Heading }}</p>
                <p>{{ item.productPrice2 }}</p>
              </ion-col>
              <ion-col class="item-content-price">
                <p class="heading">{{ item.productPrice3Heading }}</p>
                <p>{{ item.productPrice3 }}</p>
              </ion-col>
              <ion-col class="item-content-price">
                <p class="heading">{{ item.productPrice4Heading }}</p>
                <p>{{ item.productPrice4 }}</p>
              </ion-col>
              
              
              
              
              
            </ion-row>
          <!-- </div> -->
          </div>
        </ion-col>
      </ion-row>
    </div>
    
      <!-- <div *ngIf="pageId == 0">
        <button ion-button (click)="unpin()">Unpin</button>
      </div> -->
    
  </ion-scroll>
  <div class="logoImage"></div>
</ion-content>
