page-category {

    .logoImage {
        position: absolute;
        bottom: 10px;
        right: 0px;
        /* z-index: 1; */
        background-image: url(../assets/imgs/logobase.png);
        background-position: right bottom;
        background-size: cover;
        width: 100%;
        height: 80px;
        position: sticky;
    }
    .category-header {
        background-color: rgba(0,0,0,.8);
        padding-left: 20px;
        padding-right: 20px;

        .toolbar-background {
            background-color: transparent;
        }
    }

    .moreinfo {
        width:34px;
        height:34px;
        background-color: transparent;
    }
    .header-md {
        background-image: none !important;
    }

    .category-content {
        background-color: rgba(0,0,0,1);
        text-align: center;
        background-position: right bottom;
        background-size: cover;
        .scroll-content {
            margin-top: 0px !important;
        }

        .background-image {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: -10;
        }

        .header-div {
            margin-top: 90px;

    margin-bottom: 40px;
            width: 100%;
            height: auto;
            z-index: -1;
            img {
                width: 100%;
                max-width: 1000px;
            }
        }

        .header-div-level-0 {
            top: 2vh;
        }

        .header-div-level-1 {
            top: calc(60px + 2vh);
        }

        .content-body {
            z-index: 99;
            width: 100%;
            // margin-top: calc(40px + 46vh);
            text-align: center;

            .level-row {
                padding: 0px;
                width: 80%;
                text-align: center;
                
                ion-col {
                    padding: 0px;

                    img {
                        width: auto;
                    }
                }
            }

            .level0-row {
                margin: 0px auto;
                max-width: 651px;
                width:100%;
                // ion-col {
                //     img {
                //         height: 120px;
                //     }
                // }
            }
            
            @media screen and (max-width: 525px) {
                .level0-category-col {
                    min-width: 130px;
                    height:75px;
                    margin: 5px auto 21px auto;
                    z-index: 10;
                }
                .catHead {
                    height: 72px;
                    padding:5px;
                    font-size: 18px;
                    background-color: rgba(0, 0, 0, 0.7);
                    
                }
            }
            @media screen and (min-width: 526px) {
                .level0-category-col {
                    min-width: 190px;
                    max-width:190px;
                    height:116px;
                    margin: 5px auto 21px auto;
                    z-index: 10;
                }
                .catHead {
                    height: 110px;
                    padding:10px;
                    font-size: 20px;
                    background-color: rgba(0, 0, 0, 0.7);
                    
                }
            }
            .level0-category-col {
                border:1px solid white;
                z-index: 10;
                .catHead {
                    text-transform: uppercase;
                    color: white;
                    /* top: 50%; */
                    /* position: absolute; */
                    width: 190px;
                    display: table-cell;
                    vertical-align: middle;
                    background-color: rgba(0, 0, 0, 0.7);
                    text-align: center;
                    
                }
            }
            .level1-row {
                margin: 0px auto;
                max-width: 651px;
                width: 100%;
                ion-col {
                    img {
                        height: 100px;
                    }
                }
            }

            .level2-row {
                margin: 0px auto;
                max-width: 765px;
                width: 100%;
                // @media screen and (max-width: 525px) {
                //     .level2-category-col {
                //         width: 100%;
                //         min-width: 300px;
                //     }
                // }
                // @media screen and (min-width: 526px) {
                //     .level2-category-col {
                //         min-width: 220px;
                //     max-width: 220px;
                //     }
                // }
                .level2-category-col {
                    color: $white;
                    text-align: center;
                    align-items: center;
                    z-index: 10;
                    margin: 10px;

                    .item-content {
                        width: 230px;
                        border : 1px solid $white;
                        background-color: rgba($black, 0.7);
                        text-align: left;
                        height: 152px;
                        margin-left: auto;
                        margin-right: auto;
                        padding: 0px 5px 0px 0px;
                        .productImage {
                            width: 67px;
                            float: left;
                            margin-left: 10px;
                        }
                        .prodimage {
                            margin-top: 12px;
                            height: 120px;
                            float: left;
                            margin-right: 9px;
                        }

                        .item-content-title {
                            font-size: 18px;
                            min-height:42px;
                            max-height:42px;
                                max-width: 300px;
                            font-weight:bold;
                        }

                        .item-content-price-row {
                            bottom: 14px;
                            position: absolute;
                            // left: 64px;
                            .item-content-price {
                                float: left;
                                margin-right: 15px;
                                left: 78px;

                                p {
                                    margin-top: 4px;
                                    margin-bottom: 4px;
                                    text-align:center;
                                }
                            }
                            .item-content-info {
                                float: right;
                                margin-right: 0px;
                                left: 78px;

                            }
                        }

                        .button-row {
                            button {
                                margin-bottom: 8px;
                            }
                        }
                    }

                    // single line display
                    .item-content-singleLine {
                        width: 736px;
                        border : 1px solid $white;
                        background-color: rgba($black, 0.7);
                        text-align: left;
                        height: 152px;
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        .infobut {
                            position: absolute;
                            right: 15px;
                            top: 14px;
                        }
                        .productImage {
                            width: 67px;
                            float: left;
                            margin-left: 10px;
                        }
                        .productDetail {
                            width:100%;
                            float:left;
                        }
                        .prodimage {
                            margin-top: 12px;
                            height: 120px;
                            float: left;
                            margin-right: 9px;
                        }

                        .item-content-title {
                            font-size: 18px;
                            min-height:42px;
                            max-height:42px;
                            font-weight:bold;
                            max-width: 300px;
                        }

                        .item-content-price-row {
                            bottom: 14px;
                            position: absolute;
                            // left: 64px;
                            
                            .item-content-price {
                                float: left;
                                margin-right: 10px;
                                left: 60px;
                                width:76px;
                                text-align:center;
                                p.heading {
                                    margin-top: 4px;
                                    margin-bottom: 4px;
                                    text-align:center;
                                    width: 40px;
                                    display: inline-table;
                                }
                                p {
                                    margin-top: 4px;
                                    margin-bottom: 4px;
                                    text-align:center;
                                }
                            }
                            .item-content-info {
                                float: right;
                                margin-right: 0px;
                                left: 60px;

                            }
                        }

                        .button-row {
                            button {
                                margin-bottom: 8px;
                            }
                        }
                    }


                    // single line display
                    .item-content-singleLineHalf {
                        width: 360px;
                        border : 1px solid $white;
                        background-color: rgba($black, 0.7);
                        text-align: left;
                        height: 152px;
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        .infobut {
                            position: absolute;
                            right: 15px;
                            top: 14px;
                        }
                        .productImage {
                            width: 67px;
                            float: left;
                            margin-left: 10px;
                        }
                        .productDetail {
                            width:100%;
                            float:left;
                        }
                        .prodimage {
                            margin-top: 12px;
                            height: 120px;
                            float: left;
                            margin-right: 9px;
                        }

                        .item-content-title {
                            font-size: 18px;
                            min-height:42px;
                            max-height:42px;
                            font-weight:bold;
                            max-width: 300px;
                        }

                        .item-content-price-row {
                            bottom: 14px;
                            position: absolute;
                            // left: 64px;
                            
                            .item-content-price {
                                float: left;
                                margin-right: 0px;
                                left: 60px;
                                width:76px;
                                text-align:center;
                                p.heading {
                                    margin-top: 4px;
                                    margin-bottom: 4px;
                                    text-align:center;
                                    width: 40px;
                                    display: inline-table;
                                }
                                p {
                                    margin-top: 4px;
                                    margin-bottom: 4px;
                                    text-align:center;
                                }
                            }
                            .item-content-info {
                                float: right;
                                margin-right: 0px;
                                left: 60px;

                            }
                        }

                        .button-row {
                            button {
                                margin-bottom: 8px;
                            }
                        }
                    }



                }
            }

            .level2-row:last-child {
                margin-bottom: 40px;
            }
        }

        ion-scroll {
            width: 100%;
            height: 100vh;
        }
    }
}
