
page-home {
    .blackback {
        background-color: #000;
    }
    .image-slides {
        ion-slide {
            img {
                width: 90%;
                // height: 100%;
            }
        }
    }

    .up-panel {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 99;
    }
}
