<ion-content class="parent-panel">
  <div class="modal-content">
    <h2 class="content-title">{{ pageInfo.productHeading }}</h2>
    <div class="detailImage">
    <img [src]="pageInfo.categoryImage" class="content-image" />
  </div>
  <div class="detailContent">
    <p class="content-text">{{ pageInfo.productText }}</p>
    
  </div>
  <div class="content-price-row" *ngIf="pageInfo.displayStyle == 'STANDARD'">
    <ion-row>
      <div class="content-price">
        <p class="price-label">{{ pageInfo.productPrice1Heading }}</p>
        <p class="price">{{ pageInfo.productPrice1 }}</p>
      </div>
      <div class="content-price">
        <p class="price-label">{{ pageInfo.productPrice2Heading }}</p>
        <p class="price">{{ pageInfo.productPrice2 }}</p>
      </div>
    </ion-row>
  </div>
  <div class="content-price-row" *ngIf="pageInfo.displayStyle == 'WINE'">
      <ion-row>
          <div class="content-price">
            <p class="price-label">{{ pageInfo.productPrice1Heading }}</p>
            <p class="price">{{ pageInfo.productPrice1 }}</p>
          </div>
          <div class="content-price">
            <p class="price-label">{{ pageInfo.productPrice2Heading }}</p>
            <p class="price">{{ pageInfo.productPrice2 }}</p>
          </div>
        </ion-row>
        <ion-row>
            <div class="content-price addspacer">
              <p class="price-label">{{ pageInfo.productPrice3Heading }}</p>
              <p class="price">{{ pageInfo.productPrice3 }}</p>
            </div>
            <div class="content-price addspacer">
              <p class="price-label">{{ pageInfo.productPrice4Heading }}</p>
              <p class="price">{{ pageInfo.productPrice4 }}</p>
            </div>
          </ion-row>
  </div>
  <div class="content-price-row" *ngIf="pageInfo.displayStyle == 'BEERTAP'">
      <ion-row>
          <div class="content-price-beer">
            <p class="price-label">{{ pageInfo.productPrice1Heading }}</p>
            <p class="price">{{ pageInfo.productPrice1 }}</p>
          </div>
          <div class="content-price-beer">
            <p class="price-label">{{ pageInfo.productPrice2Heading }}</p>
            <p class="price">{{ pageInfo.productPrice2 }}</p>
          </div>
        </ion-row>
        <ion-row>
            <div class="content-price-beer addspacer">
              <p class="price-label">{{ pageInfo.productPrice3Heading }}</p>
              <p class="price">{{ pageInfo.productPrice3 }}</p>
            </div>
            <div class="content-price-beer addspacer">
              <p class="price-label">{{ pageInfo.productPrice4Heading }}</p>
              <p class="price">{{ pageInfo.productPrice4 }}</p>
            </div>
          </ion-row>
          <ion-row>
              <div class="content-price-beer addspacer">
                <p class="price-label">{{ pageInfo.productPrice5Heading }}</p>
                <p class="price">{{ pageInfo.productPrice5 }}</p>
              </div>
              <div class="content-price-beer addspacer">
                <p class="price-label">{{ pageInfo.productPrice6Heading }}</p>
                <p class="price">{{ pageInfo.productPrice6 }}</p>
              </div>
            </ion-row>
            <ion-row>
                <div class="content-price-beer addspacer">
                  <p class="price-label">{{ pageInfo.productPrice7Heading }}</p>
                  <p class="price">{{ pageInfo.productPrice7 }}</p>
                </div>
                <div class="content-price-beer addspacer">
                  <p class="price-label">{{ pageInfo.productPrice8Heading }}</p>
                  <p class="price">{{ pageInfo.productPrice8 }}</p>
                </div>
              </ion-row>
  </div>
  </div>
  <div class="modal-footer">
    <button ion-button full class="close-button" (click)="closeMoal()">CLOSE WINDOW</button>
  </div>
</ion-content>
