ion-modal.my-popup {
    @media (min-width: 300px) and (min-height: 500px) {
        ion-backdrop {
            visibility: visible;
        }
    }
    @media screen and (min-width: 526px) {
        .modal-wrapper {
            height: 70vh;
            top: calc(50% - 35vh);
        }

    }
    @media screen and (max-width: 525px) {
        .modal-wrapper {
            height: 80vh;
            top: calc(50% - 40vh);
        }

    }
    .modal-wrapper {
        position: absolute;
        overflow: hidden;
        border-radius: 0px;
        width: 80vw;
        
        
        left: calc(50% - 40vw);
        margin: auto;
        border: 0;
        box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        background-color: #fafafa;
    }
    
}
@media screen and (min-width: 526px) {
    page-details {
        .parent-panel {
            background-color: black;
            border: none;
    
            .modal-content {
                border: 2px solid $white;
                background-color: black;
                height: calc(70vh - 50px);
                color: $white;
                padding: 16px;

                .detailImage {
                    width:315px;
                    
                }
                .detailContent {
                    width: 320px;
                    left: 325px;
                    position: absolute;
                    padding: 10px;
                    height: auto;
                }
                .content-image {
                    margin-top: 4px;
                    height: calc(70vh - 171px);
                    width: auto;
                    float: left;
                }
    
                h2 {
                    font-size: 40px;
                    margin-top: 24px;
                    font-weight: normal;
                    text-align:center;
                }
    
                .content-text {
                    font-size: 20px;
                    // margin-top: 44px;
                    // margin-bottom: 44px;
                    // margin-right: 32px;
                    // margin-left: 220px;
                }
    
                .content-price-row {
                    position: absolute;
                    bottom: 68px;
                    /* left: 256px; */
                    width: 325px;
                    left: 325px;
                    position: absolute;
                    padding: 10px;
                    height: auto;
                    .addspacer {
                        margin-top: 20px;
                    }
                    .content-price-beer {
                    float: left;
                    margin-right: 22px;
                    width: 120px;
                    .price-label {
                        font-size: 18px;
                        margin: 0px;
                        text-align: center;
                    }

                    .price {
                        font-size: 18px;
                        margin-top: 4px;
                        margin-bottom: 0px;
                        text-align: center;
                    }
                }

                    .content-price {
                        float: left;
                        margin-right: 32px;
    
                        .price-label {
                            font-size: 18px;
                            margin: 0px;
                            text-align: center;
                        }
    
                        .price {
                            font-size: 18px;
                            margin-top: 4px;
                            margin-bottom: 0px;
                            text-align: center;
                        }
                    }
                }
            }
    
            .modal-footer {
                height: 42px;
            }
        }
        .close-button {
            background-color: transparent;
            border: 1px solid white;
        }
        .close-button:hover {
            background-color: white;
            color:black;
            border: 1px solid black;
        }
        .button-md.activated {
            background-color: white;
            color:black;
            border: 1px solid black;
        }
        .button-md:hover:not(.dsable-hover) {
            background-color: white;
            color:black;
            border: 1px solid black;
        }
        
    }
}
@media screen and (max-width: 525px) {
    page-details {
        .parent-panel {
            background-color: black;
            border: none;
    
            .modal-content {
                border: 2px solid $white;
                background-color: black;
                height: 72vh;
                color: $white;
                padding: 5px;
    
                .content-image {
                    margin-top: 4px;
                    height: 220px;
                    width: auto;
                    float: left;
                    padding-right: 15px;
                }
    
                h2 {
                    font-size: 24px;
                    margin-top: 8px;
                    font-weight: normal;
                    text-align:center;
                }
    
                .content-text {
                    font-size: 16px;
                    margin-top: 20px;
                    margin-bottom: 44px;
                    margin-right: 32px;
                    margin-left: 20px;
                }
    
                .content-price-row {
                    position: absolute;
                    bottom: 68px;
                    left: 26px;
    
                    .content-price {
                        float: left;
                        margin-right: 32px;
                        width: 100px;
                        .price-label {
                            font-size: 18px;
                            margin: 0px;
                            text-align: center;
                        }
    
                        .price {
                            font-size: 18px;
                            margin-top: 4px;
                            margin-bottom: 0px;
                            text-align: center;
                        }
                    }
                }
            }
    
            .modal-footer {
                height: 42px;
            }
        }
        .close-button {
            background-color: transparent;
            border: 1px solid white;
        }
        
    }
}

